<div class="portfolio-bg">
    <br><h1 style="text-align: center;">Educational Background</h1><br/>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../assets/mitla.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Mitla Elementary School</b></h5>
              <p class="card-text">School Year - 2013-2014</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/pmchs.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Porac Model Community High School</b></h5>
              <p class="card-text">School Year - 2016-2017</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/olfu.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Our Lady of Fatima University</b></h5>
              <p class="card-text">School Year - 2018-2019</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/hau.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Holy Angel University</b></h5>
              <p class="card-text">School Year - 2019-Present</p>
            </div>
          </div>
        </div>
      </div>
   

