<div class="about-zen">
    <div class="bg">
        <div class="dp">
            <img src="../assets/zen.jpg" class="img-fluid" alt="" >
        </div>
        <div class="me">
            <h1>Marzen Alexis O. Tumali</h1>
            <h4>WEB DEVELOPER<br>
            </h4>
        </div>
    </div>
    
    <div class="yes">
        <div class="about-me">
            <h1>About Me</h1>
            <p class="name">Hello I'm Marzen Alexis O. Tumali a SOC Student from 
            <br> Holy Angel University</p>
        </div>
        <div Class="info">
            
            <h1>Basic Information</h1>
            <p>
                <b>Age:</b> &nbsp; 20 <br>
                <b>Address:</b> &nbsp; Blk 16 Lot 20 Model Community, Porac, Pampanga <br>
                <b>Birthday:</b> &nbsp; March 9, 2001 <br>
                <b>Place of Birth:</b> &nbsp; Floridablanca, Pampanga <br>
                <b>Gender:</b> &nbsp; Male <br>
                <b>Language:</b> &nbsp; Kapampangan, Tagalog, English <br>
                <b>Citizenship:</b> &nbsp; Filipino <br>
                <b>Civil Status:</b> &nbsp; Single <br>
    
            </p>
        </div>
    </div>
</div>
